* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#top {
	font-size: 13px;
	text-align: right;
	margin-top: 10px;
	margin-right: 30px;
}

#top li{
	vertical-align: middle;
}

#profilepic {
	border-radius: 50%;
}

#search {
	margin-top: 15px;
	height: 44px;
	border: 1px solid lightgray;
	border-radius: 22px;
	padding: 22px;
	font-size: 16px;
	font-family: arial, sans-serif;
}

.center {
	display: block;
	margin: auto;
}

.leftmargin {
	margin-left: 10px;
}

.arial {
	font-family: arial, sans-serif;
}

.submit {
	padding: 5px 20px;
	margin-top: 25px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	font-size: 14px;
	color: #5F6368;
	font-family: arial, sans-serif;
	height: 40px;
	display: inline;
}

.topmargin {
	margin-top: 13%;
}

.inlineblock {
	display: inline-block;
}

.bottom li {

	font-size: 15px;
	color: #5f6368;
	margin: 5px;
}

.leftside {
	padding-left: 20px;
}

.rightside {
	padding-right: 20px;
	float: right;
}

#footer {
	position: absolute;
	display: inline;
	bottom: 0;
	width: 100%;
	background-color: rgb(242, 242, 242);
	border: 1px lightgray solid;
}

.border-bottom {
	border-bottom: 1px lightgray solid;
}

li {
	display: inline-block;
	padding: 7px;
}